<div class="top-row ps-3 navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <!-- Navbar Brand -->
        <a class="navbar-brand" href="/">YouTubeBlazorApp</a>

        <!-- Hamburger Menu Button -->
        <button class="navbar-toggler" type="button" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible Navbar Content -->
        <div class="@NavMenuCssClass navbar-collapse">
            <ul class="navbar-nav me-auto">
                <!-- Home Link -->
                <li class="nav-item">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="bi bi-house-door-fill"></span> Home
                    </NavLink>
                </li>
                <!-- Search Videos Link -->
                <li class="nav-item">
                    <NavLink class="nav-link" href="searchresults">
                        <span class="bi bi-search"></span> Search Videos
                    </NavLink>
                </li>
            </ul>
        </div>
    </div>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
